{% extends 'base.html' %}

{% block title %}Connections{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Connections</h1>
    <div class="card p-4 shadow-lg">
        <h2>Your Connections</h2>
        <ul>
            {% for connection in connections %}
                <li>{{ connection.user_to.username }}</li>
            {% endfor %}
        </ul>

        <h2>Connection Requests</h2>
        <ul>
            {% for request in requests %}
                <li>
                    {{ request.from_user.username }}
                    <a href="{% url 'accept_connection_request' request.id %}" class="btn btn-success btn-sm">Accept</a>
                    <a href="{% url 'reject_connection_request' request.id %}" class="btn btn-danger btn-sm">Reject</a>
                </li>
            {% endfor %}
        </ul>

        <h2>Sent Connection Requests</h2>
        <ul>
            {% for request in sent_requests %}
                <li>
                    {{ request.to_user.username }}
                    <a href="{% url 'cancel_connection_request' request.id %}" class="btn btn-danger btn-sm">Cancel</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
