{% extends "base.html" %}
{% load static %}
{% block title %}Messages{% endblock %}

{% block content %}
<style>
    .fade-in {
  animation: fadeIn 1s ease-in-out;
}

  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
</style>
<div class="container mt-4 fade-in">
    <h1 class="mb-4">Messages</h1>
    <ul class="list-group">
        {% for user, message in conversations.items %}
            <li class="list-group-item d-flex align-items-center">
                {% if user.profile.profile_picture %}
                    <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
                {% else %}
                    <img src="{% static 'default_profile_picture.png' %}" alt="Default Profile Picture" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
                {% endif %}
                <div>
                    <a href="{% url 'chat' user.username %}" class="text-dark font-weight-bold">{{ user.username }}</a>
                    <p class="mb-1">{{ message.content|truncatewords:10 }}</p>
                    <small class="text-muted">{{ message.timestamp }}</small>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">No messages found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
